html, body {
    margin: 0;
    padding: 10px;
}

#title {
    position: absolute;
    left: 0%;
    top: 0%;

    width: 100%;

    margin: 0;
    padding: 5px 0;

    background-color: rgb(211, 211, 211);
    font-size: small;

    font-family: Arial;
    text-align: center;
}

body {font-family: Arial;width: 800px;margin: auto;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tooltip {
    position: relative;
    
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  .world_name {
    
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  .container2{

    display: flex;
    justify-content: space-between;
  }

  .chara-image {

    width: 200px;
    height: 200px;
    object-fit: cover;
	  object-position: center;
    
    border-radius: 50%;

    border: 5px black solid;
    padding:4px;
    display:inline-block;  
  }

  .chara-name button {

    margin-left: 10px;
    font-size: large;
  }

  .chara-name{

    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI';
  }

  .chara {
    width: fit-content;
    animation: float 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    padding: 10px;
    margin: 0px;
    justify-content: center;

    z-index: 20;
    position:relative;
  }

  .chara:hover {

    animation: none;
    transform: scale(1.1, 1.1);
  }

  .chara-container {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 150px 290px;
  }

  @keyframes float{

    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .container {

    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container > div {
    flex: 1;
  }

  .container img {
    
    object-fit: cover;
    width: 100%;
    margin: 10px;
  }

  .container > p {
    flex: 1;
    text-align: justify;
    padding: 20px;
  }

  .popup {

    background-color: whitesmoke;
    width: 80%;
    height: 80%;

    position: fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);

    padding: 20px;

    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;

    border: solid 3px #6e7491;
    line-height: 28px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);

    overflow-y: scroll;

    opacity: 0;
    transition: opacity ease-in 0.3s;
    z-index: -100;
  }

  #traits {
    column-count: 3;
  }

  .traits {
    column-count: 2;
  }

  #relations {

    display: flex;
    justify-content: left;

    flex-wrap: wrap;
    gap: 2em;
  }

  .relation {
    background-color: #e4e4e4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
  }

  .relation img
  {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .subtitles {

    display: flex;
    flex-wrap: wrap;
  }

  .subtitle {

    margin-left: 20px;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
  }

  .subtitle span {
    width: fit-content;
    
    position: relative;
    top: 20px;
  }
  
  .circle {

    width: 20px;
    height: 20px;

    margin-top: 20px;
    margin-right: 20px;

    background-color: aqua;
    border-radius: 50%;
  }

  #name {

    font-size: xxx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

/* CSS */
.close {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;

  height: 50px !important;
}

.close:hover,
.close:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.close:active {
  opacity: .5;
}

.world-outline {

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;

  line-height: 20px;
}

.button-30 {

  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;

  margin-right: 30px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.icon {

  width: 50px !important;
  height: 50px !important;

  margin: auto;
  margin-left: 30px;

  margin-top: 30px;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover {

  transform: translate(0, 10px) rotate(1deg);
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.active {

  background-color: lightblue;
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 50%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;

  margin-top: 15px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}

#blinds {

  background-color: #000000c0;
  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;
  z-index: -200;

  opacity: 0;
  transition: opacity 100ms;
}

.blocked {

  background-color: gray !important;
  opacity: 0.5;
}

.map-element {

  margin-top: 40px;
  display: none;
}

.map-active {

  display: block;
}

.map-element img {

  width: 100%;
}

.map-pin {

  position: absolute;
  width: 30px !important;

  transform-origin: bottom center;
  /*animation: rock 2s linear infinite;*/
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  transition-duration: 500ms;
}

.map-pin:hover {

  transform: rotate(10deg);
}

@keyframes rock{

  0% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}

.map-popup {
  
  position: absolute;
  top: 50px;
  left: 50px;

  width: 300px;

  opacity: 0;
  transition: opacity 0.3s;

  pointer-events: none;
}

.map-popup span {
  color: rgb(85, 85, 85);
}

.map-popup div {
  text-align: center;
  background-color: rgb(211, 211, 211);
  margin: 0%;
  padding: 10px;

  line-height: 5px;

  border-radius: 20px 20px 0 0;

  transform-origin: bottom center;
}

.map-popup h2 {

  line-height: 25px;
}

.map-popup p {
  text-align: left;
  margin: 0%;
  padding: 10px;

  padding-bottom:  20px;

  background-color: #e9e9e9;
  border-radius: 0 0 20px 20px;
}

.map-popup::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: #e9e9e9 transparent transparent transparent;
}

#fullname {

  margin: -5px;
  color: rgb(97, 97, 97);

  margin-left: 5px;
}

.region-data {

  padding: 5px 20px;
  margin: 20px;
  border: 4px dashed rgb(139, 139, 139);

  padding-bottom: 30px;

  display: none;
}

.flag {

  margin: auto 0;
  width: 50px !important;
  margin-left: 50px;
}

.container3 {

  display: flex;
  justify-content: center;
}

.map-merging {

  position: relative;
  margin: 0%;
  padding: 0%;
}

.animals {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animal-card {

  width: 45%;
  text-align: justify;
  margin: 10px;

  transition-duration: 1s;
}