html, body {
    margin: 0;
    padding: 10px;
}

body {font-family: Arial; width: 70% !important; margin: auto !important;}

@media only screen and (max-width: 800px){

  body {

    width: 80% !important;
  }
}

@media only screen and (max-width: 600px){

  body {

    width: 100% !important;
  }
}
.tooltip {
    position: relative;
    
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .chara-image {

    width: 200px;
    height: 200px;
    object-fit: cover;
	  object-position: center;
    
    border-radius: 50%;

    border: 5px black solid;
    padding:4px;
    display:inline-block;  
  }

  .chara-name button {

    margin-left: 10px;
    font-size: large;
  }

  .chara-name{

    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI';
  }

  .chara {
    width: fit-content;
    animation: float 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    padding: 10px;
    margin: 0px;
    justify-content: center;

    z-index: 20;
    position:relative;
  }

  .chara:hover {

    animation: none;
    transform: scale(1.1, 1.1);
  }

  @keyframes float{

    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .subtitle {

    margin-left: 20px;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
  }

  .subtitle span {
    width: fit-content;
    
    position: relative;
    top: 15px;
  }
  
  .circle {

    width: 20px;
    height: 20px;

    margin-top: 20px;
    margin-right: 20px;

    background-color: aqua;
    border-radius: 50%;
  }

#name {

  font-size: xxx-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.world-outline {

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;

  line-height: 20px;
}

.active {

  background-color: lightblue;
}

.map-element {

  margin-top: 40px;
  display: none;
}

.map-rule {

  position: relative;
  max-width: 700px;
  margin: auto;
}

.map-active {

  display: block;
}

.map-element img {

  width: 100%;
}

.map-pin {

  position: absolute;
  width: 30px !important;

  z-index: 10;
}

.map-popup {
  
  position: absolute;
  top: 50px;
  left: 50px;

  width: 300px;

  opacity: 0;
  transition: opacity 0.3s;

  pointer-events: none;

  z-index: 20;
}

.region-data {
  display: none;
}

.flag {

  margin: auto 0;
  width: 50px !important;
  margin-left: 50px;

  position: relative;
  bottom: 8px;
}

.sex-flag{
  margin: auto 0;
  width: 30px !important;
  position: relative;
  top: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.map-merging {

  position: relative;
  margin: 0%;
  padding: 0%;
}

.animal-card {

  width: 45%;
  text-align: justify;
  margin: 10px;

  transition-duration: 1s;
}

.m10 {

  margin: 10px;
}

.notification {

  position: fixed !important;
  bottom: 0 !important;
  left: 0;

  margin: 5px !important;

  transition-duration: 200ms;
  z-index: 200000;
  opacity: 0;
}

.smol {

  width: 30px;
  height: 30px;
}

.relation {
  background-color: #e4e4e4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  width: fit-content;

  margin-bottom: 15px;
}

.relation img
{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile {

  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;

  margin-left: 20px;
}

#login {

  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.fake-box {

  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
}

.m30 { gap: 150px; }

@media only screen and (max-width: 930px){ .m30 { gap: 30px; }}

@media only screen and (max-width: 750px){ .m30 { gap: 0px } }

.outline {
  -webkit-text-fill-color: black;
  -webkit-text-fill-color: #000000;
  -webkit-text-fill-color: black;
}

.pages div{

  background-color: bisque;
  padding: 15px;

  overflow: hidden;
  width: 100%;

  word-wrap: break-word;

}

.page-content {

  transform-origin: top left;
  width: 100%;
}

.pages-left {
  
  border-left: 5px solid black;
  border-right: 15px solid black;
  border-image: 
    linear-gradient(
      to left, 
      rgba(0, 0, 0, 0.308), 
      rgba(0, 0, 0, 0)
    ) 1 100%;

  transform-origin: center right;
}

.pages-right {
  
  border-right: 5px solid black;
  border-left: 15px solid black;
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0.308), 
      rgba(0, 0, 0, 0)
    ) 1 100%;

  transform-origin: center left;
}
  
.turning {
    
    animation: turn 1s linear 1;
}

.unturning {
    
    animation: unturn 1s linear 1;
}
.pages {

  display: flex;
  justify-content: center;
  
  background-color: bisque;

  aspect-ratio: 1 / 0.6;
  width: 100%;
  margin: 15px;
}

@keyframes turn{

  0%{
    transform: rotate3d(0,1,0, 0deg);
  }

  100% {

    transform: rotate3d(0, 1, 0, 90deg);
  }
}

@keyframes unturn{
  0%{

    transform: rotateY(90deg);
  }

  100% {

    transform: rotateY(0);
  }
}